/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica,sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}


/* top */
h1{
  padding: 30px 0 30px 40px;
}

.explanation{
  padding-left: 50px;
  line-height: 3;
}

.start-button{
  padding-left: 50px;
}

/* index */
.head-title{
  padding: 0px 0 20px 10px
}


table{
  display: table;
  border-collapse: separate;
  text-indent: 1em;
  border-spacing: 2px;
  border-color: gray;
}

thead{
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

tr{
  display: table-row;
  border-color: inherit;
}

th{
  padding-bottom: 5px;
}

tbody{
  display: table-row-group;
  vertical-align: middle;
  border-bottom-color: inherit;
}

td{
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

.new-text{
  padding-bottom: 25px
}

.text{
  margin-top: 30px;
}

.create-button{
  display: block;
}

/* show */
.show-text{
  display: flex;
  padding-bottom: 30px
}

.show-link{
  display: flex;
  padding: 0 10px;
}

/* edit */
.update{
  display: block;
  padding: 15px 0;
}

.edit-link{
  display: flex;
  padding: 10px 0;
}

.edit-link-botton{
  padding: 0 10px
}

.field_with_errors{
  background-color: #fcc;
  width: 20%;
}

.error-message{
  color: red;
}

.error-message-field{
  font-size: 20px
}
